<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headFiles">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

<!--  Header client !-->

<header th:fragment="headerClient(myPageTitle)">
    <div class="navbar bg-black text-white row">
        <div class=" col-4">
            <div id="logo">
                <a th:href="@{/index}">
                    <img th:src="@{/images/logo.png}" alt="borza_logo">
                    <h2 id="textBordza">Bordza</h2>
                </a>
            </div>
        </div>
        <div class="bordza_center col-4">
            <h1 th:text="${myPageTitle}"></h1>
        </div>
        <div class="col-4 col align-self-start">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a th:href="@{/calendar}" class="nav-link">
                        <i class="fa fa-fw  fa-calendar"></i>
                        Agenda
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-fw fa-star"></i>
                        Mes cours
                    </a>
                </li>
                <li class="nav-item dropdown" >
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-fw fa-user-circle-o"></i>
                        Mon Compte
                    </a>
                    <ul class="dropdown-menu dropdown_black">
                        <li><a th:href="@{/inscription}" class="nav-link">Inscription</a></li>
                        <li><a th:href="@{/modifProfil}" class="nav-link">Modifier Profil</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>


<!--  Footer client !-->

<footer th:fragment="footerClient">
    <div class="page-footer bg-black text-white">
        <div class="row" >
            <!-- Footer -->
            <br>
            <div class="col text-right">
                <a href="conditions_generales_de_vente.html" ><h6>Nos Conditions générales de vente</h6></a>
            </div>
            <div class="col nav align-self-start" footer_bordza >
                <p>Suivez-nous </p>

                <!-- Facebook -->

                <a href="https://www.facebook.com/bordzalongboards/" class="nav-link">
                    <i class="fa fa-w fa-facebook-square "> </i>
                </a>

                <!--Instagram-->

                <a href="https://www.instagram.com/bordzalongboard/" class="nav-link">
                    <i class="fa fa-instagram "> </i>
                </a>


                <!--Vimeo -->
                <a  href="https://vimeo.com/user5674470" class="nav-link">
                    <i class="fa fa-w fa-vimeo-square "> </i>
                </a>

                <!--You Tube -->

                <a  href="#" class="nav-link">
                    <i class="fa fa-w fa-youtube "> </i>
                </a>

            </div>
        </div>

        <!-- Grid column -->
        <br>
        <div class=" footer-copyright text-center">
            <h6>- BORDZA Marque déposée -   -Tous droits réservés -</h6>
        </div>


    </div>
</footer>


</body>
</html>