<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerFiles">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

</head>

<body>

<header th:fragment="header">
    <div class="navbar bg-black text-white row">
        <div class=" col-4">
            <div id="logo">
                <a th:href="@{/index}">
                    <img th:src="@{/images/logo.png}" alt="borza_logo">
                    <h2 id="textBordza">Bordza</h2>
                </a>
            </div>
        </div>
        <div class="bordza_center col-4">
            <!--<h1 th:text=”${pageTitle}”></h1>!-->
            <h1 ></h1>

        </div>
        <div class="col-4 col align-self-start">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a th:href="@{/calendar}" class="nav-link">
                        <i class="fa fa-fw  fa-calendar"></i>
                        Agenda
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-fw fa-star"></i>
                        Mes cours
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/inscription}" class="nav-link">
                        <i class="fa fa-fw fa-user-circle-o"></i>
                        Mon compte
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>

</body>
</html>