body{
    background-color: khaki;
}

.contenu{
    width: 60vw;
    margin: auto;
}

table, td{
    border: 1px solid;
    border-collapse: collapse;
    padding: 5px;
}

.required-star {
    color: crimson;
}