body {
    background-color: #242424;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

.contenu {
    padding: 20px 0;
    width: 60vw;
    margin: auto;
}

.bordza_green {
    background-color: #44a194;
}

/*table, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 5px;
}*/

h1, #textBordza {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}

a:hover {
    font-weight: bold;
    color: #44a194;
}

a {
    font-weight: bold;
    color: white;
}

.center {
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}
.collapse{
    background-color: #242424;
}
/*-------------------- HEADER -----------------*/

.header {
    position: relative;
}

.nav {
    text-align: right;
}

#logo {
    width: 70px;
    text-align: center;
}

#logo img {
    filter: invert();
    width: 50px;
}

#textBordza {
    font-size: 25px;
}

.icon_nav {
    color: white;
}

.dropdown_black{
    background-color:black ;
    border: 1px solid #44a194;
}
/*--------------------------------------------------*/

.bordza_center {
    text-align: center;
}

.box_text {
    border: double;
    border-color: #44a194;
    border-width: 2px;
    border-width: thick ;
    padding: 20px;
}

.bg-black {
    background-color: black;
}

.listeinfo {
    text-decoration: underline;
}


.required-star {
    color: #44a194;
}

#calendar {
    padding: 20px 20px;
}

/*------------------------- Course Summary -----------------*/

.course_summary_banner{
    width: 100vw;
}

.course_summary_flex{
    display: flex;
    justify-content: center;
}

.course_summary_td_left{
    padding-right: 5px;
    width: 20vw;
    text-align: right;
    text-decoration: underline;
}
.course_summary_td_right{
    padding-left: 5px;
    width: 20vw;
    text-align: left;
}

.phone_block{
    display: inline-block;
}

/*------------------------- newCourse.html -----------------*/

input#fromTimeHour, input#fromTimeMinutes {
    width:55px;
}

/*------------------------- Footer -----------------*/

.footer_bordza{
    padding: 20px;
    font-size: 12px;
}

.footer_bordza a{
    font-size: 13px;
    padding: 0 20px;
}

.icon_footer{
    font-size: 30px;
}

.footer_bordza ul {
    display: table-row;
}

.footer_bordza ul li , .footer_bordza a{
    display: table-cell;
    height: 50px;
    vertical-align: middle;
}

.bordza_flex_center{
    display: flex;
    justify-content: center;
}

/*-------------------- Validation Course ------------*/

.list_validation{
    color: white;
}
.icon_validation{
     font-size: 30px;
 }
.hr{
    color: black;
}

/*--------------------  admin récapitulatif cours -----------*/

.list_client{
    color: white;
}

.table-hover{
    background-color: grey;
}

/*--------------------  admin validation en attente -----------*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display :none;
    position : absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content{
    display: block;
}

/*-------------------------- inscription -----------------------*/

#tutor {
    display: none;
    background-color:black ;
    border: 1px solid #44a194;
    border-radius: 5px;
    padding: 10px;
}

.bordza_input_picture{
    width: 150px;
    margin-bottom: 20px;
}
