<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${pageTitle}"></title>
    <th:block th:include="fragments/general.html::headFiles"></th:block>
</head>

<body>

<header th:include="fragments/general.html::headerAdmin(myPageTitle=${pageTitle})"></header>

<!------------  methode avec tooltip       !------->
<!--
<div class="contenu">
    <form action="#" th:action="@{/adminWaiting}" method="post">
        <table class="table table-hover">

            <thead class="thead-dark">"
            <tr>
                <th>Client</th>
                <th>Cours</th>
                <th>Participants</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody class="list_validation" th:object="${modelCourseClient}">

            <tr th:each="booking : ${courseClientsList}" >
                <td><li class ="listCli list-unstyled"><a href="#" class="tooltip-client" data-toggle="tooltip" >

                    <span th:utext="${bookingAndClients.booking.client.cliLastname + booking.client.cliFirstname}"></span></a>

                </li>
                </td></th:utext>

                <td><li class="list-unstyled"><a href="#" class="tooltip-course" data-toggle="tooltip"  >
                         <ul class="listCours list-unstyled ">
                             <li>
                     <span th:utext="${#strings.capitalize(#temporals.dayOfWeekName(bookingAndClients.booking.course.getCrsFromDate()))}"></span>
                     <span th:utext="${#temporals.day(bookingAndClients.booking.course.getCrsFromDate())}"></span>
                     <span th:utext="${#temporals.monthName(bookingAndClients.booking.course.getCrsFromDate())}"></span>
                     <span th:text="${#temporals.year(bookingAndClients.booking.course.getCrsFromDate())}"></span>
                     <span th:utext="${#temporals.format(bookingAndClients.booking.course.getCrsFromDate(), 'HH:mm')}"></span>
                         - <span th:utext="${#temporals.format(bookingAndClients.booking.course.getCrsToDate(), 'HH:mm')}"></span></li>
                             <li th:text="${bookingAndClients.booking.course.discipline.disLabel}"></li>
                             <li th:text="${bookingAndClients.booking.course.location.locLabel}"></li>
                         </ul></a>


                </li>
                </td>

                <td> 1
                </td>

                <td><a th:href="@{/api/clients}">
                    <i class="fa fa-w fa-check-circle-o icon_validation "> </i></a>
                </td>

                <td><a th:href="@{/api/clients}">
                    <i class="fa fa-w fa-trash icon_validation"> </i></a>"
                </td>
            </tr>

            <hr>

            </tbody>
        </table>
    </form></th:utext>
</div>

!-->

<!------------  methode avec dropdow       !------->

<div class="contenu">
    <div class="list_cli" th:if="${nbvalidation} > 0">

        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th>Client</th>
                <th>Cours</th>
                <th>Participants</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody class="list_validation" th:object="${modelCourseClient}">

            <tr th:each="bookingAndClients : ${bookingsAndClients}">
                <td>
                    <ul>
                        <li class="dropdown"><a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"
                                                data-hover="dropdown" data-placement="top">
                            <span th:text="${bookingAndClients.booking.client.cliLastname}+' '+${bookingAndClients.booking.client.cliFirstname}"></span></a>
                            <ul class="dropdown-content list-unstyled">
                                <li th:field="${bookingAndClients.booking.client.cliBirthdate}" id="birthdate">cliAge("${bookingAndClients.booking.client.cliBirthdate}")></li>
                    <!--            <li th:text="${bookingAndClients.booking.client.cliBirthdate}"></li>  !-->
                            </ul>

                        </li>
                    </ul>
                </td>

                <td>
                    <ul>
                        <li class="dropdown list-unstyled">
                            <a href="#" class="dropdown-toggle nav-link"
                               data-toggle="dropdown" data-hover="dropdown"
                               data-placement="top">
                                <ul class="listCours list-unstyled ">
                                    <li>
                                        <span th:utext="${#strings.capitalize(#temporals.dayOfWeekName(bookingAndClients.booking.course.getCrsFromDate()))}"></span>
                                        <span th:utext="${#temporals.day(bookingAndClients.booking.course.getCrsFromDate())}"></span>
                                        <span th:utext="${#temporals.monthName(bookingAndClients.booking.course.getCrsFromDate())}"></span>
                                        <span th:text="${#temporals.year(bookingAndClients.booking.course.getCrsFromDate())}"></span>
                                        <span th:utext="${#temporals.format(bookingAndClients.booking.course.getCrsFromDate(), 'HH:mm')}"></span>
                                        - <span
                                            th:utext="${#temporals.format(bookingAndClients.booking.course.getCrsToDate(), 'HH:mm')}"></span>
                                    </li>
                                    <li><span th:utext="${bookingAndClients.booking.course.discipline.disLabel}"></span>
                                    </li>
                                    <li>
                                        <span th:utext="${bookingAndClients.booking.course.level.levCourseLabel}"></span>
                                    </li>

                                </ul>
                            </a>
                            <ul class="dropdown-content list-unstyled">
                                <li th:text="${bookingAndClients.booking.course.level.levCourseLabel}"></li>
                                <li th:text="${bookingAndClients.booking.course.crsDesc}"></li>
                            </ul>

                        </li>
                    </ul>
                </td>

                <td>
                    <ul>
                        <li class="dropdown list-unstyled"><a href="#" class="dropdown-toggle nav-link"
                                                              data-toggle="dropdown" data-hover="dropdown"
                                                              data-placement="top">
                        <span th:if="${bookingAndClients.booking.course.crsPublished} == true "
                              th:utext="${#lists.size(bookingAndClients.clients)}"/>
                            <span th:if="${bookingAndClients.booking.course.crsPublished} == false "
                                  th:utext="nouveau"/>
                        </a>
                            <ul class="dropdown-content list-unstyled">
                            <span th:each="listClients : ${bookingAndClients.clients}">
                            <li th:text="${listClients.cliLastname}+' '+${listClients.cliFirstname}"></li></span>

                            </ul>
                        </li>
                    </ul>
                </td>

                <td>

                    <span th:if="${bookingAndClients.booking.course.crsPublished} == false ">
            <!--         <a th:href="@{'/adminValidation?bookingId='+ ${bookingAndClients.booking.bkId}}">   !-->
                        <a th:href="@{'/adminPublishCourse?courseId='+ ${bookingAndClients.booking.course.crsId}+'&ori='+1}">
                         <i class="fa fa-w fa-check-circle-o icon_validation "> </i></a></span>

                    <span th:if=" ${bookingAndClients.booking.course.crsPublished} == true ">
                     <a th:href="@{'/adminValidation?bookingId='+ ${bookingAndClients.booking.bkId}}">
                         <i class="fa fa-w fa-check-circle-o icon_validation "> </i></a></span>

                </td>
                <!-- modifier sur href suppression proposition cours !-->
                <td><a th:href="@{'/adminDelete?bookingId='+ ${bookingAndClients.booking.bkId}}">
                    <i class="fa fa-w fa-trash icon_validation"> </i></a>
                </td>
                </ul>
            </tr>


            <hr>

            </tbody>
        </table>
    </div>

    <div class="list_message box_text bordza_center" th:if="${nbvalidation} == 0">
        <strong th:text="${information}"></strong>

    </div>


</div>

<footer th:include="fragments/general.html::footerClient"></footer>

<script src="/js/pictureUpload.js"></script>
<script th:inline="javascript">

    /*<![CDATA[*/

    document.getElementById("birthdate").onchange = function () {
        cliAge(document.getElementById("birthdate").value);
    };

    /*]]>*/
</script>

<script src="/js/functions.js"></script>
<!--<script src="/js/pictureUpload.js"></script>!-->
<!----
<script>
      $(document).ready(function(){

       $('.list1-unstyled').tooltip({title: "<ul><li th:utext=\"${bookingAndClients.booking.client.cliBirthdate}\"></li></ul>", content: "Blabla <br> <h2>Cool stuff!</h2>", html: true, placement: "top"});

        $('.listCours').tooltip({title: "< text=\"${bookingAndClients.booking.course.level.levCourseLabel}\ + text=\"${bookingAndClients.booking.course.crsDesc}\ >", html: true, placement: "top"});
    });
</script>
*/
!--->
</body>
</html>