<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Récapitulatif cours</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
<div class="container">
    <div class="center">
        <header class="page-header" >
            <h2> <p	class="bg-dark text-white"> Récapitulatif du cours	</p>
            </h2>

        </header>

        <ul class="list-unstyled">
            <li>Date du cours :</li>
            <li>Horaires : de </li>
            <li>Pratique et discipline : </li>
            <li>Niveau : </li>
            <br>
            <li>Lieu souhaité : </li>
            <li>Prêt de matériel : </li>
        </ul>

        <hr>

        <p>Votre demande a bien été envoyée. Vous recevrez un Email après validation.</p>
        <div class="box_text" >
            S'il s'agit de votre premier cours, merci de contacter le formateur à ce numéro : <span>06 10 66 02 46</span>, afin qu'il puisse valider.

        </div>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


</body>
</html>