<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Welcome</h1>


<div class="contenu">
    <a th:href="@{/inscription}">Inscription</a>

    <table>
        <tr>
            <th>Id user</th>
            <th>Login</th>
            <th>Password</th>
        </tr>
        <tr th:each="myUser : ${usersList}">
            <td th:utext="${myUser.getUsrId()}">...</td>
            <td th:utext="${myUser.getUsrEmail()}">...</td>
            <td th:utext="${myUser.getUsrPwd()}">...</td>
        </tr>
    </table>
    <table>
        <tr>
            <th>Id client</th>
            <th>nom</th>
            <th>prenom</th>
            <th>telephone</th>
            <th>cp</th>
            <th>ville</th>
            <th>date de naissance</th>
            <th>taille</th>
            <th>poids</th>
            <th>nom tuteur</th>
            <th>prenom tuteur</th>
            <th>telephone tuteur</th>
            <th>antecedants</th>
        </tr>
        <tr th:each="myClient : ${clientsList}">
            <td th:utext="${myClient.cliId}">...</td>
            <td th:utext="${myClient.cliLastname}">...</td>
            <td th:utext="${myClient.cliFirstname}">...</td>
            <td th:utext="${myClient.cliPhone}">...</td>
            <td th:utext="${myClient.cliZipcode}">...</td>
            <td th:utext="${myClient.cliCity}">...</td>
            <td th:utext="${myClient.cliBirthdate}">...</td>
            <td th:utext="${myClient.cliHeight}">...</td>
            <td th:utext="${myClient.cliWeight}">...</td>
            <td th:utext="${myClient.cliTutorLastname}">...</td>
            <td th:utext="${myClient.cliTutorFirstname}">...</td>
            <td th:utext="${myClient.cliTutorPhone}">...</td>
            <td th:utext="${myClient.cliComment}">...</td>
        </tr>
    </table>
</div>


</body>

</html>