<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${pageTitle}"></title>
    <th:block th:include="fragments/general.html::headFiles"></th:block>
</head>

<body>

<header th:include="fragments/general.html::headerClient(myPageTitle=${pageTitle})"></header>

<div class="contenu">

    <form action="#" th:action="@{/} + ${formType}" th:object="${modelClient}" method="post">
        <div class="form-group">
            <div class="row ">
                <div class="col">
                    <div class="input_group-identity">
                        <label class="label--desc">Nom<em class="required-star">*</em></label>
                        <input required class="form-control" type="text" name="name" th:field="*{cliLastname}"
                               placeholder="Nom" pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$">
                    </div>
                </div>
                <div class="col">
                    <div class="input_group-identity">
                        <label class="label--desc">Prénom<em class="required-star">*</em></label>
                        <input required class="form-control" type="text" first_name="first_name"
                               th:field="*{cliFirstname}" pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$"
                               placeholder="Prénom">
                    </div>
                </div>
            </div>

            <div class="form-row" th:object="${modelUser}">
                <div class="form-group col-md-6">
                    <label for="inputEmail">Email<em class="required-star">*</em></label>
                    <input required type="email" class="form-control" th:field="*{usrEmail}" placeholder="Email"
                           id="inputEmail"/>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword">Password<em class="required-star">*</em></label>
                    <input th:if="${formType} == 'inscription'" required type="password" class="form-control" th:field="*{usrPwd}" placeholder="Mot de passe"
                           id="inputPassword"/>
                    <input th:if="${formType} == 'modifProfil'" type="password" class="form-control" th:field="*{usrPwd}" placeholder="Mot de passe"
                           id="inputPassword"/>
                </div>
                <input type="hidden" th:field="*{usrRole}">
            </div>
        </div>


        <label for="phone">N° Téléphone <em class="required-star">*</em></label>
        <input type="tel" required class="form-control" id="phone" pattern="(^[0-9]{2}){5}$)" th:field="*{cliPhone}"
               name="phone"
               placeholder="N° téléphone">



        <div class="row ">
            <div class="col">
                <div class="input_group-identity">
                    <label class="label--desc">Code Postal<em class="required-star">*</em></label>
                    <input required class="form-control" type="text" name="postal_code" minlength="5" maxlength="5"
                           pattern="[0-9]{5}"
                           th:field="*{cliZipcode}" placeholder="CP">
                </div>
            </div>
            <div class="col">
                <div class="input_group-identity">
                    <label class="label--desc">Ville<em class="required-star">*</em></label>
                    <input class="form-control" type="text" town="town" th:field="*{cliCity}"
                           placeholder="Ville" pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$">
                </div>
            </div>
        </div>

        </hr><p>Autres :</p>
        <div class="row ">
            <div class="col">
                <div class="input_group-identity">
                    <label class="label--desc">Date de naissance<em class="required-star">*</em></label>
                    <input required class="form-control" type="date" name="birthday_date" th:field="*{cliBirthdate}">
                </div>
            </div>
            <div class="col">
                <div class="input_group-identity">
                    <label class="label--desc">Taille (cm)</label>
                    <input class="form-control" type="number" min="100" max="250"
                           height="height" th:field="*{cliHeight}" placeholder="Hauteur">
                </div>
            </div>
            <div class="col">
                <div class="input_group-identity">
                    <label class="label--desc">Poids (kg)</label>
                    <input class="form-control" type="number" min="30" max="200"
                           weight="weight" th:field="*{cliWeight}" placeholder="Poids">
                </div>
            </div>
        </div>
        <hr/>

        <a class="btn btn-primary bordza_green" data-toggle="collapse" href="#collapseExample" role="button"
           aria-expanded="false"
           aria-controls="collapseExample">
            Si mineur
        </a>

        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <div class="row ">
                    <div class="col">
                        <div class="input_group-identity">
                            <label class="label--desc">Nom du Tuteur/Tutrice</label>
                            <input class="form-control" type="text" name="tutor_name" th:field="*{cliTutorLastname}"
                                   placeholder="Nom" pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input_group-identity">
                            <label class="label--desc">Prénom du Tuteur/Tutrice</label>
                            <input class="form-control" type="text" first_name="tutor_first_name"
                                   th:field="*{cliTutorFirstname}" placeholder="Prénom"
                                   pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="tutor_phone">N° Téléphone du Tuteur : </label>
                        <input type="tel" class="form-control" id="tutor_phone" name="tutor_phone"
                               th:field="*{cliTutorPhone}"
                               placeholder="N° téléphone">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputTutorEmail">Email du tuteur</label>
                        <input type="email" class="form-control" th:field="*{cliTutorEmail}" placeholder="Email"
                               id="inputTutorEmail"/>
                    </div>
                </div>
            </div>
        </div>

        <hr/>
        <h2>Informations complémentaires :</h2>
        <p>Niveau :</p>

        <div class="row ">
            <div class="col" th:each="myLvl : ${modelLevel}">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"
                           th:field="*{level}"
                           th:value="${myLvl.getLevId()}"/>
                    <label class="form-check-label"
                           th:for="${#ids.prev('level')}"
                           th:text="${myLvl.getLevClientLabel()}">
                    </label>
                </div>
            </div>
        </div>
        <br>
        <p>Antécédents médicaux : </p>
        <div class="row">
            <div class="col">
                    <textarea id="medical_information" class="form-control" rows="3"
                              name="medical_information" th:field="*{cliComment}"></textarea>
            </div>
        </div>
        <hr>
        <input type="hidden" th:field="*{cliId}">
        <button type="submit" class="btn btn-primary bordza_green">Valider</button>


    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>