<!DOCTYPE html>
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${pageTitle}"></title>
    <th:block th:include="fragments/general.html::headFiles"></th:block>
</head>
<body>

<header th:include="fragments/general.html::headerClient(myPageTitle='login')"></header>

<div class="contenu">
<h2 th:text="${error}"></h2>

<h1>Login</h1>
<form name='f' action="login" method='POST'>
    <table>
        <tr>
            <td>User:</td>
            <td><input type='text' name='username' value=''></td>

        </tr>
        <tr>
            <td>Password:</td>
            <td><input type='password' name='password' /></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit" /></td>
        </tr>
    </table>
    <hr>
    <div class="row">
        <div class="col">
            <a href="/inscription">S'inscrire</a>
        </div>
    </div>
</form>

    <form>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
        </div>
    </form>


</div>
<footer th:include="fragments/general.html::footerClient"></footer>
</body>
</html>