<!DOCTYPE html>

<html xmlns:th="http://www.w3.org/1999/xhtml">
<head><title>test</title></head>
<body>
<h2 th:text="${message}"></h2>
<h1>Login</h1>
<form name='f' action="login" method='POST'>
    <table>
        <tr>
            <td>User:</td>
            <td><input type='text' name='username' value=''></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type='password' name='password' /></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit" /></td>
        </tr>
    </table>
    <hr>
    <div class="row">
        <div class="col">
            <a href="/inscription">S'inscrire</a>
        </div>
    </div>
</form>
</body>
</html>