<!DOCTYPE html>
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${pageTitle}"></title>
    <th:block th:include="fragments/general.html::headFiles"></th:block>
</head>
<body>

<header th:include="fragments/general.html::headerClient(myPageTitle='Login')"></header>

<div class="contenu">
    <div class="bordza_login_contenu">
        <p th:text="${error}" class="bordza_error"></p>
        <form name='f' action="login" method='POST'>
            <div class="form-group row">
                <label for="username" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="username" name='username' placeholder="Email">
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-sm-4 col-form-label">Mot de passe</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="password" name='password'
                           placeholder="Mot de passe">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    <input name="submit" type="submit" value="Valider"/>
                </div>
                <div class="col-sm-4">
                    <a href="/inscription">S'inscrire</a>
                </div>
            </div>
        </form>

    </div>
</div>
<footer th:include="fragments/general.html::footerClient"></footer>
</body>
</html>