<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.springframework.org/tags/form">

<head>
    <title>Création de cours</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    </head>

    <body>
        <div class="container">
            <h2>
                <p class="bg-dark text-white">Création de cours</p>
            </h2>

            <form action="#" th:action="@{/newCourse}" th:object="${modelCourse}" method="post">
                <div class="form-group">
                    <div class ="row">
                        <div class="col">
                            <big><span><strong><u>Date du cours</u></strong> :</span>
                            <span th:text="${#strings.capitalize(#temporals.dayOfWeekName(modelCourse.getCrsFromDate()))}"></span>
                            <span th:text="${#temporals.day(modelCourse.getCrsFromDate())}"></span>
                            <span th:text="${#temporals.monthName(modelCourse.getCrsFromDate())}"></span>
                            <span th:text="${#temporals.year(modelCourse.getCrsFromDate())}"></span></big>

                            <!-- <span th:text="${#temporals.format(modelCourse.getCrsFromDate(), 'dd/MM/yyyy')}"></span> -->
                            <input type="hidden" th:field="*{crsFromDate}" th:value="${modelCourse.getCrsFromDate()}">
                            <input type="hidden" th:field="*{crsToDate}" th:value="${modelCourse.getCrsToDate()}">
                        </div>
                    </div>
                </div>

                <div class="form-group" >
                    <label><strong>Cours particulier VIP <span class="required-star">*</span></strong></label>
                    <div class="row">
                        <div class="col">
                            <input th:field="*{crsVip}" th:type="radio" th:id="particulier" th:name="vip" th:value="1">
                            <label th:for="particulier">Oui</label>
                        </div>
                        <div class="col">
                            <input th:field="*{crsVip}" th:type="radio" th:id="collectif" th:name="vip" th:value="0">
                            <label th:for="collectif">Non</label>
                        </div>
                    </div>
                </div>


                <div class = "form-group">
                    <label><strong>Horaire <span class="required-star">*</span></strong></label>
                    <div class="row">
                        <div class="col">
                            <input type="time" th:id="fromTime" th:name="fromTime" min="09:00" max="18:00" required th:value="${#temporals.format(modelCourse.getCrsFromDate(), 'HH:mm')}">
                            <!-- à <input type="time" th:id="toTime" th:name="toTime" min="09:00" max="18:00" required th:value="${#temporals.format(modelCourse.getCrsToDate(), 'HH:mm')}"> -->
                        </div>
                    </div>
                    <small class="form-text text-muted">Il existe des forfaits 5h et 10h qui permettent de participer à des cours de plusieurs heures. Pour tout renseignement , veuillez contacter directement le formateur par téléphone : 06 10 66 02 46 ou par mail : contact@bordza.fr</small>
                </div>

                <div class = "form-group">
                    <label><strong>Durée souhaitée <span class="required-star">*</span></strong></label>
                    <div class="row">
                        <div class="col">
                            <select id="dis-duration" th:field="*{duration}" class="custom-select">
                                <option th:each="myDur : ${modelDurationsList}" th:value="${myDur.getDurId()}" th:text="${myDur.getDurLabel()}"></option>
                            </select>
                        </div>
                    </div>
                    <small class="form-text text-muted">Il existe des forfaits 5h et 10h qui permettent de participer à des cours de plusieurs heures. Pour tout renseignement , veuillez contacter directement le formateur par téléphone : 06 10 66 02 46 ou par mail : contact@bordza.fr</small>
                </div>

                <div class = "form-group">
                    <label for="dis-select"><strong>Discipline <span class="required-star">*</span></strong></label>
                    <div class="row">
                        <div class="col">
                            <select id="dis-select" th:field="*{discipline}" class="custom-select">
                                <option th:each="myDis : ${modelDisciplinesList}" th:value="${myDis.getDisId()}" th:text="${myDis.getDisLabel()}"></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="loc-select"><strong>Lieu souhaité <span class="required-star">*</span></strong></label>
                    <select id="loc-select" th:field="*{location}" class="custom-select">
                        <option th:each="myLoc : ${modelLocationsList}" th:value="${myLoc.getLocId()}" th:text="${myLoc.getLocLabel()}"></option>
                    </select>

                    <small class="form-text text-muted">Ce lieu n'est pas définitif, il sera validé ou non par votre formateur</small>
                </div>

                <div class="form-group">
                    <label><strong>Niveau souhaité <span class="required-star">*</span></strong></label>
                    <div class="row">
                        <div class="col" th:each="myLev: ${modelLevelsList}">
                            <input type="radio" th:field="*{level}" th:value="${myLev.getLevId()}">
                            <label th:for="${#ids.prev('level')}" th:text="${myLev.getLevCourseLabel()}"></label>
                            <!-- th:checked="${flag} ? 'checked'" -->
                        </div>
                    </div>
                </div>

                <div class="form-group" th:object="${modelCourseClient}">
                    <label><strong>Prêt de matériel <span class="required-star">*</span></strong></label>
                    <div class="row">
                        <div class="col">
                            <input type="radio" th:field="*{bkMat}" id="oui" th:value="0" checked>
                            <label for="oui">Oui</label>
                        </div>
                        <div class="col">
                            <input type="radio" th:field="*{bkMat}" id="non" th:value="1">
                            <label for="non">Non</label>
                        </div>
                    </div>
                </div>
                <div class="form-row" th:object="${modelClient}">
                    <input type="hidden" th:field="*{cliId}">
                </div>
                <input type="hidden" th:field="*{crsUnavailable}">
                <input type="hidden" th:field="*{crsTitle}">
                <input type="hidden" th:field="*{crsDesc}">

                <button type="submit" class="btn btn-primary">Valider</button>
                <button type="button" class="btn btn-secondary">Annuler</button>
            </form>
        </div>
    </body>
</html>