<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.springframework.org/tags/form" lang="fr">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}"></title>
    <th:block th:include="fragments/general.html::headFiles"></th:block>
</head>

<body>

<header th:include="fragments/general.html::headerClient(myPageTitle=${pageTitle})"></header>

<div class="contenu">

    <div class="listeinfo" th:object="${modelCourse}">
        <ul class="list-unstyled">
            <li>Date du cours : <span
                    th:utext="${#strings.capitalize(#temporals.dayOfWeekName(modelCourse.getCrsFromDate()))}"></span>
                <span th:utext="${#temporals.day(modelCourse.getCrsFromDate())}"></span>
                <span th:utext="${#temporals.monthName(modelCourse.getCrsFromDate())}"></span>
                <span th:text="${#temporals.year(modelCourse.getCrsFromDate())}"></span></li>

            <li>Horaires : de <span
                    th:utext="${#temporals.format(modelCourse.getCrsFromDate(), 'HH:mm')}"></span>
                à
                <span th:utext="${#temporals.format(modelCourse.getCrsToDate(), 'HH:mm')}"></span>
            </li>

            <li>Pratique et discipline : <span th:utext="${modelCourse.discipline.disLabel}"></span>
            </li>
            <li>Niveau : <span th:utext="${modelCourse.level.levCourseLabel}"></span></li>
        </ul>
    </div>

     <form action="#" th:action="@{/reservation}" th:object="${modelCourseClient}" method="post">
        <div class="form-group">
            <label><strong>Prêt de matériel <span class="required-star">*</span></strong></label>
            <div class="row">
                <div class="col">
                    <input type="radio" th:field="*{bkMat}" id="oui" th:value="0">
                    <label for="oui">Oui</label>
                </div>
                <div class="col">
                    <input type="radio" th:field="*{bkMat}" id="non" th:value="1" th:checked>
                    <label for="non">Non</label>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Valider</button>
    </form>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


</body>
</html>