<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.springframework.org/tags/form">
<html lang="en">
<head>
    <title th:text="${pageTitle}"></title>
    <th:block th:include="fragments/general.html::headFiles"></th:block>
</head>

<body>

<header th:include="fragments/general.html::headerClient(myPageTitle=${pageTitle})"></header>

<div class="contenu">

    <div class="liste" th:object="${modelCourse}">
        <ul class="list-unstyled">
            <li><u><strong>Date du cours : </strong></u><span
                    th:utext="${#strings.capitalize(#temporals.dayOfWeekName(modelCourse.getCrsFromDate()))}"></span>
                <span th:utext="${#temporals.day(modelCourse.getCrsFromDate())}"></span>
                <span th:utext="${#temporals.monthName(modelCourse.getCrsFromDate())}"></span>
                <span th:text="${#temporals.year(modelCourse.getCrsFromDate())}"></span></li>

            <li><u><strong>Horaires : de </strong></u><span
                    th:utext="${#temporals.format(modelCourse.getCrsFromDate(), 'HH:mm')}"></span><u><strong>
                à
            </u></strong><span th:utext="${#temporals.format(modelCourse.getCrsToDate(), 'HH:mm')}"></span>
            </li>

            <li><u><strong>Pratique et discipline : </strong></u><span
                    th:utext="${modelCourse.discipline.disLabel}"></span>
            </li>
            <li><u><strong>Niveau : </strong></u><span th:utext="${modelCourse.level.levCourseLabel}"></span></li>
        </ul>
    </div>

    <!--<div class="form-group">
        <label for="loc-select"><strong>Lieu souhaité <span class="required-star">*</span></strong></label>
        <select id="loc-select" th:field="*{location}" class="custom-select">
            <option th:each="myLoc : ${modelLocationsList}" th:value="${myLoc.getLocId()}"
                    th:text="${myLoc.getLocLabel()}"></option>
        </select>

        <small class="form-text text-muted">Ce lieu n'est pas définitif, il sera validé ou non par votre
            formateur</small>
    </div>!-->

    <form action="#" th:action="@{/reservation}" th:object="${modelCourseClient}" method="post">
        <div class="form-group">
            <label><strong>Prêt de matériel <span class="required-star">*</span></strong></label>
            <div class="row">
                <div class="col">
                    <input th:type="radio" th:field="*{bkMat}" th:id="oui" th:value="0">
                    <label th:for="oui">Oui</label>
                </div>
                <div class="col">
                    <input th:type="radio" th:field="*{bkMat}" th:id="non" th:value="1" checked>
                    <label th:for="non">Non</label>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Valider</button>
        <button type="button" class="btn btn-secondary">Annuler</button>
    </form>

</div>

<footer th:include="fragments/general.html::footerClient"></footer>

</body>
</html>