<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.springframework.org/tags/form">
<head>
    <meta charset="UTF-8"/>
    <title>Sign up</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h1>Sign up</h1>

<div class="contenu">
    <form action="#" th:action="@{/signup}" method="post" >
        <div class="form-row" th:object="${inputUser}">
            <div class="form-group col-md-6">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" th:field="*{usrLogin}"  placeholder="Email" id="inputEmail" />
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" th:field="*{usrPwd}" placeholder="Mot de passe" id="inputPassword"/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>



    <!--<form action="#" th:action="@{/addUser}" th:object="${user}" method="post">

        <div class="form-row ">
           <div class="col">
                <form:label path="inputFirstname">Prénom</form:label>
                <form:input type="text" class="form-control" placeholder="First name" path="inputFirstname"/>
            </div>
            <div class="col">
                <form:label path="inputLastname">Nom</form:label>
                <form:input type="text" class="form-control" placeholder="Last name" path="inputLastname"/>
            </div>
            <div class="col">
                <form:label path="inputPhone">Telephone</form:label>
                <form:input type="text" class="form-control" placeholder="Telephone" path="inputPhone"/>
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" th:fields="*{usrLogin}"  placeholder="Email" id="inputEmail" />
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" th:fields="*{usrPwd}" placeholder="Mot de passe" id="inputPassword"/>
            </div>
        </div>


        <hr>
        <div class="form-row">
            <div class="form-group col-md-6">
                <form:label path="inputCity">ville</form:label>
                <form:input type="text" class="form-control" path="inputCity"/>
            </div>
            <div class="form-group col-md-6">
                <form:label path="inputCP">Code postal</form:label>
                <form:input type="text" class="form-control" path="inputCP"/>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <form:label path="inputAge">Age</form:label>
                <form:input type="text" class="form-control" path="inputAge"/>
            </div>
            <div class="form-group col-md-4">
                <form:label path="inputTaille">Taille</form:label>
                <form:input type="text" class="form-control" path="inputTaille"/>
            </div>
            <div class="form-group col-md-4">
                <form:label path="inputPoids">Taille</form:label>
                <form:input type="text" class="form-control" path="inputPoids"/>
            </div>
        </div>

        <hr><h2>Tuteur</h2><hr>

        <div class="form-row">
            <div class="col">
                <form:label path="inputFirstnameTuteur">Prénom</form:label>
                <form:input type="text" class="form-control" placeholder="First name" path="inputFirstnameTuteur"/>
            </div>
            <div class="col">
                <form:label path="inputLastnameTuteur">Nom</form:label>
                <form:input type="text" class="form-control" placeholder="Last name" path="inputLastnameTuteur"/>
            </div>
            <div class="col">
                <form:label path="inputPhoneTuteur">Telephone</form:label>
                <form:input type="text" class="form-control" placeholder="Telephone" path="inputPhoneTuteur"/>
            </div>
        </div>

        <hr><h2>Autres</h2><hr>

        <div class="form-check form-check-inline">
            <form:radio class="form-check-input" name="inputMateriel" path="Radio1" value="Oui"/>
            <form:label class="form-check-label" path="inlineRadio1">Oui</form:label>
        </div>
        <div class="form-check form-check-inline">
            <form:radio class="form-check-input" name="inputMateriel" path="Radio2" value="Non"/>
            <form:label class="form-check-label" path="inlineRadio2" checked>Non</form:label>
        </div>

        <div class="form-group">
            <form:label path="InputMedic">Antécédents médicaux</form:label>
            <form:textarea class="form-control" path="InputMedic" rows="3"></form:textarea>
        </div>
        !-->
        <!--
        <div class="form-group">
            <div class="form-check">
                <form:checkbox path="gridCheck" class="form-check-input" />
                <form:label class="form-check-label" path="gridCheck">
                    Check me out
                </form:label>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
!-->
</div>


</body>

</html>