<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.springframework.org/tags/form">
<head>
    <meta charset="UTF-8"/>
    <title>Sign up</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h1>Sign up</h1>

<div class="contenu">
    <form action="#" th:action="@{/signup}" th:object="${inputTest}" method="post" >

        <!--
        <div class="form-row ">
            <div class="col">
                <label for="inputFirstname">Prénom</label>
                <input type="text" class="form-control" th:field="*{cliFirstname}" placeholder="First name" id="inputFirstname"/>
            </div>
            <div class="col">
                <label for="inputLastname">Nom</label>
                <input type="text" class="form-control" th:field="*{cliLastname}" placeholder="Last name" id="inputLastname"/>
            </div>
            <div class="col">
                <label for="inputPhone">Telephone</label>
                <input type="text" class="form-control" th:field="*{cliPhone}" placeholder="Téléphone" id="inputPhone"/>
            </div>
        </div>
        !-->


        <div class="form-row ">
            <div class="col">
                <label for="inputFirstname">Prénom</label>
                <input type="text" class="form-control" th:field="*{testFirstname}" placeholder="First name" id="inputFirstname"/>
            </div>
            <div class="col">
                <label for="inputLastname">Nom</label>
                <input type="text" class="form-control" th:field="*{testLastname}" placeholder="Last name" id="inputLastname"/>
            </div>
        </div>

        <div class="form-row" th:object="${inputUser}">
            <div class="form-group col-md-6">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" th:field="*{usrLogin}"  placeholder="Email" id="inputEmail" />
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" th:field="*{usrPwd}" placeholder="Mot de passe" id="inputPassword"/>
            </div>
        </div>

        <!--
        <hr>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">ville</label>
                <input type="text" class="form-control" th:field="*{cliCity}" id="inputCity"/>
            </div>
            <div class="form-group col-md-6">
                <label for="inputCP">Code postal</label>
                <input type="text" class="form-control" th:field="*{cliZipcode}" id="inputCP"/>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputAge">Age</label>
                <input type="text" class="form-control" id="inputAge"/>
            </div>
            <div class="form-group col-md-4">
                <label for="inputTaille">Taille</label>
                <input type="text" class="form-control" id="inputTaille"/>
            </div>
            <div class="form-group col-md-4">
                <label for="inputPoids">Taille</label>
                <input type="text" class="form-control" id="inputPoids"/>
            </div>
        </div>
        !-->

        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>




    <!--<form action="#" th:action="@{/addUser}" th:object="${user}" method="post">

        <div class="form-row ">
           <div class="col">
                <label path="inputFirstname">Prénom</label>
                <input type="text" class="form-control" placeholder="First name" path="inputFirstname"/>
            </div>
            <div class="col">
                <label path="inputLastname">Nom</label>
                <input type="text" class="form-control" placeholder="Last name" path="inputLastname"/>
            </div>
            <div class="col">
                <label path="inputPhone">Telephone</label>
                <input type="text" class="form-control" placeholder="Telephone" path="inputPhone"/>
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" th:fields="*{usrLogin}"  placeholder="Email" id="inputEmail" />
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" th:fields="*{usrPwd}" placeholder="Mot de passe" id="inputPassword"/>
            </div>
        </div>


        <hr>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label path="inputCity">ville</label>
                <input type="text" class="form-control" path="inputCity"/>
            </div>
            <div class="form-group col-md-6">
                <label path="inputCP">Code postal</label>
                <input type="text" class="form-control" path="inputCP"/>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label path="inputAge">Age</label>
                <input type="text" class="form-control" path="inputAge"/>
            </div>
            <div class="form-group col-md-4">
                <label path="inputTaille">Taille</label>
                <input type="text" class="form-control" path="inputTaille"/>
            </div>
            <div class="form-group col-md-4">
                <label path="inputPoids">Taille</label>
                <input type="text" class="form-control" path="inputPoids"/>
            </div>
        </div>

        <hr><h2>Tuteur</h2><hr>

        <div class="form-row">
            <div class="col">
                <label path="inputFirstnameTuteur">Prénom</label>
                <input type="text" class="form-control" placeholder="First name" path="inputFirstnameTuteur"/>
            </div>
            <div class="col">
                <label path="inputLastnameTuteur">Nom</label>
                <input type="text" class="form-control" placeholder="Last name" path="inputLastnameTuteur"/>
            </div>
            <div class="col">
                <label path="inputPhoneTuteur">Telephone</label>
                <input type="text" class="form-control" placeholder="Telephone" path="inputPhoneTuteur"/>
            </div>
        </div>

        <hr><h2>Autres</h2><hr>

        <div class="form-check form-check-inline">
            <radio class="form-check-input" name="inputMateriel" path="Radio1" value="Oui"/>
            <label class="form-check-label" path="inlineRadio1">Oui</label>
        </div>
        <div class="form-check form-check-inline">
            <radio class="form-check-input" name="inputMateriel" path="Radio2" value="Non"/>
            <label class="form-check-label" path="inlineRadio2" checked>Non</label>
        </div>

        <div class="form-group">
            <label path="InputMedic">Antécédents médicaux</label>
            <textarea class="form-control" path="InputMedic" rows="3"></textarea>
        </div>
        !-->
        <!--
        <div class="form-group">
            <div class="form-check">
                <checkbox path="gridCheck" class="form-check-input" />
                <label class="form-check-label" path="gridCheck">
                    Check me out
                </label>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
!-->
</div>


</body>

</html>