<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${pageTitle}"></title>
    <th:block th:include="fragments/general.html::headFiles"></th:block>
</head>

<body>

<header th:include="fragments/general.html::headerClient(myPageTitle=${pageTitle})"></header>

<div class="contenu">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th>Client</th>
                <th>Cours</th>
                <th>Participants</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            <tr class="line" th:object="${modelCourseClient}" >
                <td th:utext="${modelCourseClient.client.cliLastname + modelCourseClient.client.cliFirstname}">...
                </td>

                <td> <ul class="list-unstyled">
                          <li th:text="${modelCourseClient.course.crsFromDate}"></li>
                          <li th:text="${modelCourseClient.course.discipline.disLabel}"></li>
                          <li th:text="${modelCourseClient.course.location.locLabel}"></li>
                     </ul>
                </td>

                <td> 1

                </td>

                <td><a th:href="@{/api/clients}">
                    <i class="fa fa-w fa-check-circle-o "> </i></a>
                </td>
                <td><a th:href="@{/api/clients}">
                    <i class="fa fa-w fa-trash"> </i></a>
                </td>
            </tr>

            </tbody>
        </table>
</div>
<footer th:include="fragments/general.html::footerClient"></footer>
</body>
</html>